- content_for :stylesheets do
  = stylesheet_link_tag 'homepage'

.top-section
  #latest-results
    %h2 Latest Test Results
    %ul
      - @latest_results.each do |result|
        %li{:class => result.result ? "result pass" : "result fail"}
          %p.gem-name
            %a{:href => rubygem_version_test_result_url(result.rubygem.name, result.version.number, result)}
              = result.rubygem.name
              = "(" + result.version.number + ")"
          %p.date
            = result.created_at.strftime('%B %e, %I:%M:%S%p')
      .clear

#intro.top-section
  %div.info
    .section
      %h2
        What?
      %p
        GemTesters is a community effort to document the test results for
        various gems, on various machine architectures.

    .section
      %h2
        Why?
      %p
        So participating gem maintainers and authors can ensure their code
        works on all platforms.

    .section.last
      %h2
        How?
      %pre
        gem install rubygems-test
      %pre
        gem test my_favorite_gem
      %p
        Learn more in the
        %a{:href => "https://github.com/rubygems/rubygems-test/blob/master/README.txt"}
          README
    .clear

#participate
  %h2
    I'm a gem author, how do I participate?
  %ol
    %p 
      Create (and add to your files section in your specification) a
      %span.meta gemtest
      empty file. This is what signals the rubygems-test 
      engine to process your gem as testable.

    %p 
      Ensure rake test works and doesn’t wipe out filesystems,
      databases, etc. Move those tests to another task.

    %p 
      Be sure to include your Rakefile in your gem, along with your tests.

    %p 
      Be sure to note any development dependencies that will be required
      for executing your rakefile and your tests in your gemspec. They
      will be installed as a part of the testing process.

