body {
  line-height: 1;
  font-size: .625em;
  background: #340505 url(/images/top.png) repeat-x;
  font-family: Arial, Helvetica, sans-serif; }

#topnav {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px; }

#topnav a, #topnav a:visited, #topnav a:hover {
  text-decoration: none;
  font-weight: bolder;
  font-size: 3em;
  color: white;
  text-align: center; }

#topnav div {
  margin-top: 1em;
  color: #AAA;
  font-size: 2em; }

#intro {
  padding: 0 20px;
  font-size: 1.5em; }

#intro a, #intro a:visited {
  color: #a00;
  text-decoration: underline; }

#intro a:hover {
  text-decoration: none; }

.border {
  border: 1px solid #b4ac99;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 24px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  background: #FFF;
  padding: 3px; }

.margins {
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 24px;
  padding: 3px; }

.background {
  width: 100%;
  background: #e7dfcc url("../images/instructions.png") repeat-x;
  padding: 12px 0 24px 0; }

.test-results-table {
  width: 100%;
  margin: 0 auto; }

.test-results-table td {
  padding: 0px;
  text-align: center;
  height: 30px; }

.test-results-table a {
  text-decoration: none; }

.test-results-table .datatable-cell {
  height: 100%;
  padding: 10px;
  text-align: center; }

.os-table td.header {
  padding: 10px;
  text-align: center; }

td.header {
  width: 100px; }

td.grade, div.grade, td.result-cell {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  background-repeat: repeat-x;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
  margin-bottom: 16px;
  padding: 10px 0;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 27px; }

.test-results-table td.grade a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none; }

.pass {
  background: #afe03c url("../images/pass.png"); }

.fail {
  background: #a00e0e url("../images/fail.png"); }

.unknown {
  background: #ebe3d1 url("../images/unknown.png"); }

.fail a, td .grade.fail, .fail, td.fail.grade a, .os-table td.fail.result-cell {
  color: #E9E9E9; }

td .grade {
  margin: 0px;
  margin-right: 1px; }

.info {
  width: 770px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ebe3d1;
  border: 5px solid #cbc2ae;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.info .flash {
  text-align: center;
  font-size: 2em;
  color: #a00; }

.title {
  margin-left: 36px;
  display: inline-block; }

.title h2 {
  line-height: 44px;
  display: inline;
  color: #a00;
  font-size: 4em;
  width: 65%; }

.title h2 a {
  color: #a00;
  text-decoration: none; }

.title h3 {
  display: inline;
  color: #90856C;
  font-size: 2em;
  margin-left: 10px; }

.title .version {
  text-decoration: none; }

.title a:hover {
  text-decoration: underline; }

.title .version-select, .title .version {
  display: inline;
  color: #90856C;
  background: #ebe3d1;
  font-size: 2em;
  font-weight: bold;
  margin-left: 10px; }

.os-table-wrapper {
  margin-top: 20px; }

.os-table-centering-wrapper {
  overflow: hidden;
  position: relative; }

.os-table-inner-centering-wrapper {
  float: left;
  position: relative;
  left: 50%; }

.os-table {
  float: left;
  position: relative;
  left: -50%; }

.os-table td {
  border: 1px solid #B4AC99;
  text-align: center; }

.test-results-table td.header, .os-table td.header {
  font-weight: bold;
  font-size: 1.5em;
  border: 0px; }

.os-table td.ruby-header {
  border: 0px; }

.os-table td.result-cell {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em; }

#output {
  font-size: 2em;
  overflow: auto;
  word-wrap: break-word;
  color: #B4AC99;
  background: #011; }

#gem-search {
  width: 100%;
  text-align: center; }

#gem-search label {
  color: #340505;
  font-size: 1.5em; }

input#rubygems {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 5em;
  text-align: center;
  background: url("../images/unknown.png");
  outline: 0px;
  color: #a00;
  border: 0px;
  width: 500px;
  margin: 0 auto;
  border-bottom: 3px #CBC2AE solid; }

.no-padding {
  padding: 0px; }

.ui-menu-item a {
  font-size: 4em;
  color: #a00; }

.prerelease-badge {
  border-radius: 3px;
  border: #CBC2AE 3px solid;
  font-weight: bold;
  font-size: 1.2em;
  width: 75px;
  padding: 2px;
  text-align: center;
  background: #CBC2AE; }

#textbox textarea {
  height: 100%;
  width: 100%; }

#textbox {
  display: none;
  height: 100%; }

.time {
  float: left;
  padding: 7px; }

.button-wrapper {
  float: right; }

.clear-both {
  clear: both; }

#latest-results h2 {
  text-align: center; }

#latest-results table {
  width: 80%;
  margin: 0 auto; }

#latest-results div h2 {
  margin-top: 10px;
  background-color: #CBC2AE;
  padding: 10px;
  margin-left: 9px;
  margin-right: 9px;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0; }

#latest-results ul {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px; }

#latest-results li {
  outline: 1px solid #B4AC99;
  width: 50%;
  color: rbga(0, 0, 0, 0.8);
  float: left;
  list-style: none;
  font-size: 1.2em; }

#latest-results li a {
  background: #ece5d6 url("../images/leaderboard.png") repeat-x;
  margin: 4px;
  padding: 7px;
  font-weight: 900;
  display: block;
  overflow: hidden;
  color: #000;
  height: 21px;
  line-height: 23px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  text-decoration: none; }

#latest-results li a:hover {
  background: transparent; }

#latest-results li a.fail-box:hover {
  color: #E9E9E9;
  background: #a00e0e url("../images/fail.png"); }

#latest-results li a.pass-box:hover {
  background: #afe03c url("../images/pass.png"); }

#latest-results .recent-pass {
  background: url("../images/recent-pass.png"); }

#latest-results .recent-fail {
  background: url("../images/recent-fail.png"); }
