:javascript
  $(document).ready(function() {
    var margin = 15;  // in pixels
    var default_margin = "2em";
    var shown = null; 
    var tabnav_selector = "#tabnav .navtab .heading";

    $(tabnav_selector).click(function() { 

      if (shown == this) {
        $(this).next('div').hide();
        $("#tabnav").css('height', default_margin);
        shown = null;
      } else {
        shown = this;
        $(this).next('div').show('fast');

        $(tabnav_selector).each(function(idx, item) {
          if (item != shown) {
            $(item).next('div').hide('fast');
          }
        });

        $("#tabnav").css('height', ($(shown).parent().height() + margin * 2) + "px");
      }
    });
  }); 
#tabnav
  .navtab
    %a.heading{:href => "javascript:void(0)"} Something
    %div{:style => "display: none"} Some stuff
  .navtab
    %a.heading{:href => "javascript:void(0)"} Filters
    %div{:style => "display: none"}
      %form
        %select{:name => "passfail"}
          %option{:value => "pass"} Pass
          %option{:value => "fail"} Fail
